.resizable-textarea-container {
  display: inline-block;
  line-height: 0;
}

.resizable-textarea-dragger {
  width: 100%;
  padding-top: 1px;
  height: 9px;
  background-size: 8px 8px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALUlEQVR42mNgwAH279//H4QZyFYAAv///5fBqQurCQQVEHQMVjaMAQQc2BQAABXMU79BvB5bAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.resizable-textarea-dragger.direction-y {
  cursor: s-resize;
}

.resizable-textarea-dragger.direction-xy {
  cursor: se-resize;
}

.resizable-textarea-dragger.direction-x {
  cursor: e-resize;
}

.resizable-textarea {
  overflow-y: auto;
  resize: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}